@import "./variables/variable";
@import "./variables/mixins.scss";
@import url('https://fonts.googleapis.com/css2?family=Splash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Combo&display=swap');
/*---------------------------------------------------------*/
/* INDEX 13 */
/* LUGARES  102 */
/* IMPERDIBLE 241 */
/* ACTIVIDADES 365 */
/* CONTACTO 507 */
/*---------------------------------------------------------*/
/* INDEX */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cuerpoIndex {
    background-image: url(../img/ArenaAgua.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 100;
    padding: 100;

    header {
        .tituloIndex {
            font-family: $fuenteTitulos;
            font-size: $tamanoTitulos;
            text-align: left;
            @include ColorTitulos (Index);
            font-weight: 1400;
            font-size: 6rem;
        }

            }
        
    
    main {
        div {
            .Presentacion {
                text-align: center;
                align-items: center;
                justify-content: center;
                width: 400px;
                height: $AltoPresentacion;
                border: solid 0, 5px rgb(179, 151, 126);
                background-color: map-get($ColoresBase, Index);
                font-family: 'Combo', cursive;
                font-size: px;
                font-style: oblique;
                font-weight: bolder;
                color: $colorTextoIndex;
            }
        }
        
        div {
            .imagenIndex {
                width: 60vh;
                height:40vh;
            }
        }
    }
    .pieIndex {
        background-color: map-get($ColoresBase, Index);
                .MapaRocha {
            height: 500;
        }
        .a {
            .b {
                .direccion {
                    font-size: 26px;
                    font-family: 'Combo', cursive;
                    text-align: center;
                    
                    font-weight:bold;
                    font-style: oblique;
                    color: $colorTextoIndex;
                }
            }
        }
        .RedesDiv {
            color: $colorTextoIndex;
            font-weight: bolder;
            text-align: center;
            font-family: 'Combo', cursive
        }
    }
}

/*---------------------------------------------------------*/
/* LUGARES */

.cuerpoLugares {
    background-image: url(../img/SantaTereza.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .tituloLugares {
        @include ColorTitulos (Lugares);
        font-family: $fuenteTitulos;
        font-size: $tamanoTitulos;
        text-align: left;
        font-size: 40px;
    }
    header {
        nav {
            div {
                img {
                    width: 50%;
                    height: 50%;
                    right: auto;
                    position: relative;
                }
            }
        }
    }
    .PrincipalLugares {
        h2 {
            font-family: 'Edu QLD Beginner', cursive;
            color: rgba(12, 35, 69, 0.668);
            font-size: larger;
            text-align: center;
            left: 30rem;
            justify-content: flex-start;
            align-items: center;
            font-size: 23px;
            font-weight: bolder;
        }
        .grid-Lugares {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            column-gap: 5px;
            grid-template-areas: "PDD CP LP AD";
            width: 100%;
            margin: 0 auto;
            .grid-PuntaDelDiablo {
                grid-area: PDD;
                display: flex;
                flex-direction: column;
                padding: 50 rem;
                text-align: center;
                background-color: rgba(15, 255, 255, 0.842);
                font-weight: bolder;
                align-items: center;
                justify-content: center;
                color: rgb(15, 86, 86);
                height: max-content;
                .PDDTitulo {
                    font-family: 'Combo', cursive;
                }
                .PDD {
                    padding: 0.75rem;
                    height: 30rem;
                    font-family: 'Combo', cursive;
                }
            }
            .flex-internoL {
                padding: 0.75rem;
                height: 30rem;
            }
            .foto1L {
                height: 5cm;
                width: 9cm;
                object-fit: cover;
                .flex-internoL img {
                    width: 100%;
                    object-fit: cover;
                }
            }
            .grid-CaboPolonio {
                @extend .grid-PuntaDelDiablo;
                grid-area: CP;
                .CPTitulo {
                    font-family: 'Combo', cursive;
                }
                p {
                    @extend.PDD;
                }
            }
            .flex-internoL {
                padding: 0.75rem;
                height: 30rem;
            }
            .foto2L {
                @extend .foto1L;
            }
            .grid-LaPaloma {
                grid-area: LP;
                @extend .grid-PuntaDelDiablo;
                .LPTitulo {
                    font-family: 'Combo', cursive;
                }
                p {
                    padding: 0.75rem;
                    height: 30rem;
                    font-family: 'Combo', cursive;
                }
            }
            .flex-internoL {
                padding: 0.75rem;
                height: 30rem;
            }
            .foto3L {
                @extend .foto1L;
            }
            .grid-AguasDulces {
                grid-area: AD;
                @extend .grid-PuntaDelDiablo;
                .ADTitulo {
                    font-family: 'Combo', cursive;
                }
                p {
                    @extend.PDD;
                }
            }
            .flex-internoL {
                padding: 0.75rem;
                height: 30rem;
            }
            .foto4L {
                @extend .foto1L;
                .flex-internoL img {
                    object-fit: cover;
                }
            }
        }
    }
}
/*---------------------------------------------------------*/
/* IMPERDIBLE */

.CuerpoImperdible {
    background-image: url(../img/NocheFogon.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .tituloImperdible {
        font-family: 'Splash', cursive;
        color: rgb(240, 149, 21);
        font-size: 40px;
        font-weight: 100;
    }
    header {
        nav {
            div {
                img {
                    width: 50%;
                    height: 50%;
                    left: 10%;
                }
            }
        }
        .titulo2imperdible {
            font-family: 'Edu QLD Beginner', cursive;
            color: rgba(173, 231, 37, 0.819);
            font-size: 23px;
            text-align: center;
            font-weight: bolder;
        }
    }
    .PrincipalImperdible {
        .grid-imperdibles {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            column-gap: 5px;
            grid-template-areas: "carnaval naufragio butia cerro";
            margin: 0 auto;
            .grid-carnaval {
                grid-area: carnaval;
                display: flex;
                flex-direction: column;
                text-align: center;
                color: rgb(248, 251, 250);
                background-color: rgba(13, 68, 116, 0.836);
                align-items: center;
                .CarnavalTitulo {
                    font-family: 'Combo', cursive;
                    font-weight: bolder;
                }
                .Carnaval {
                    padding: 0.75rem;
                    height: 20rem;
                    font-family: 'Combo', cursive;
                }
                .foto1I {
                    height: 5cm;
                    width: 9cm;
                    object-fit: cover;
                    .flex-internoI img {
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
            .grid-naufragios {
                grid-area: naufragio;
                @extend .grid-carnaval;
                .NaufragiosTitulo {
                    font-family: 'Combo', cursive;
                    font-weight: bolder;
                }
                p {
                    @extend.Carnaval;
                }
                .foto2I {
                    @extend .foto1I;
                    .flex-internoI img {
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
            .grid-butia {
                grid-area: butia;
                @extend .grid-carnaval;
                .ButiaTitulo {
                    font-family: 'Combo', cursive;
                    font-weight: bolder;
                }
                p {
                    @extend.Carnaval;
                }
                .foto3I {
                    @extend .foto1I;
                    .flex-internoI img {
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
            .grid-cerro {
                grid-area: cerro;
                @extend .grid-carnaval;
                .CerroTitulo {
                    font-family: 'Combo', cursive;
                    font-weight: bolder;
                }
                p {
                    @extend.Carnaval;
                }
                .foto4I {
                    @extend .foto1I;
                    .flex-internoI img {
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}

/*---------------------------------------------------------*/
/* ACTIVIDADES */

.tituloActividades {
    font-family: 'Splash', cursive;
    color: rgba(48, 48, 49, 0.986);
    text-align: left;
    font-size: 40px;
}
.CuerpoActividades {
    background-image: url(../img/SurfFaro.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    header {
        nav {
            div {
                img {
                    width: 50%;
                    height: 50%;
                    left: 10%;
                }
            }
        }
    }
    .titulo2Actividades {
        font-family: 'Splash', cursive;
        color: rgba(53, 79, 94, 0.667);
        font-size: 23px;
    }
    .PrincipalActividades {
        h2 {
            font-family: 'Edu QLD Beginner', cursive;
            color: rgb(53, 98, 95);
            font-size: larger;
            text-align: center;
            left: 30rem;
            justify-content: flex-start;
            align-items: center;
            font-size: 23px;
            font-weight: bolder;
        }
        .grid-actividades {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 5px;
            grid-template-areas: "Surf Caminata Camion";
            width: 100%;
            margin: 0 auto;
            .grid-Surf {
                grid-area: Surf;
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;
                justify-content: center;
                color: rgb(37, 70, 70);
                font-weight: bolder;
                background-color: rgba(88, 148, 167, 0.603);
                padding: 50 rem;
                height: max-content;
                .SurfTitulo {
                    font-family: 'Combo', cursive;
                    font-weight: bolder;
                }
                .Surf {
                    padding: 0.75rem;
                    height: 25rem;
                    font-family: 'Combo', cursive;
                }
            }
            .flex-internoA {
                padding: 0.75rem;
                height: 35rem;
            }
            .foto1A {
                height: 5cm;
                width: 9cm;
                object-fit: cover;
                .flex-internoA img {
                    width: 100%;
                    object-fit: cover
                }
                .flex-internoA {
                    width: 100%;
                    object-fit: cover;
                }
            }
            .grid-Caminata {
                grid-area: Caminata;
                @extend .grid-Surf;
                .CaminataTitulo {
                    font-family: 'Combo', cursive;
                    font-weight: bolder;
                }
                p {
                    @extend .Surf;
                }
            }
            .flex-internoA {
                padding: 0.75rem;
                height: 35rem;
            }
            .foto2A {
                @extend .foto1A;
                .flex-internoI img {
                    object-fit: cover;
                }
                .flex-internoA {
                    width: 100%;
                    object-fit: cover;
                }
            }
            .grid-Camion {
                grid-area: Camion;
                @extend .grid-Surf;
                .CamionTitulo {
                    font-family: 'Combo', cursive;
                    font-weight: bolder;
                }
                p {
                    @extend .Surf;
                }
            }
            .flex-internoA {
                padding: 0.75rem;
                height: 35rem;
            }
            .foto3A {
                @extend .foto1A;
                .flex-internoI img {
                    object-fit: cover;
                }
                .flex-internoA {
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

/*---------------------------------------------------------*/
/* CONTACTO */

.titulo1 {
    font-family: 'Splash', cursive;
    color: rgba(245, 222, 22, 0.815);
    font-size: xx-large;
    text-align: left;
    position: relative;
    padding: 0;
    margin: 0;
    font-size: 40px;
}
.titulocontacto2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(239, 216, 216);
    font-size: xx-large;
    text-align: center;
    display: inline-block;
    position: relative;
    bottom: 3rem;
    left: 30rem;
    justify-content: flex-start;
    align-items: center;
}
.titulo {
    margin: 0;
    padding: 0;
    font-family: 'Splash', cursive;
    color: rgb(255, 255, 255);
    font-size: xx-large;
    text-align: center;
    display: inline-block;
    position: relative;
    bottom: 3rem;
    left: 30rem;
    justify-content: flex-start;
    align-items: center;
}
.principal {
    background-image: url(../img/Palmares.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;

    header {
        nav {
            div {
                img {
                    width: 50%;
                    height: 50%;
                    left: 10%;
                }
            }
        }
    }
}
.titulo2contacto {
    font-family: 'Edu QLD Beginner', cursive;
    color: rgba(48, 48, 49, 0.986);
    font-size: medium;
    text-align: center;
}
.form-label {
    background-color: aqua;
    font-family: 'Edu NSW ACT Foundation', cursive;
    ;
    font-size: medium;
    box-sizing: content-box;
    color: rgb(8, 36, 60);
}
.decirnos {
    background-color: aqua;
    font-family: 'Edu NSW ACT Foundation', cursive;
    ;
    font-size: medium;
    box-sizing: border-box;
    color: rgb(8, 36, 60);
}
.pieContacto {
    align-items: center;
    .carousel {
        justify-content: center;
        box-sizing: border-box;
        height: 40%;
        width: 40%;
        left: 30%;
    }
}

@import "./variables/mediasqueries";