/*Colores*/

$ColorPie:  rgba(255, 235, 205, 0.666);
$BordeArena:  rgb(179, 151, 126);
$ArenaTransparente:  rgba(255, 218, 185, 0.381);
$colorTextoIndex: rgb(92, 71, 22);
$marron: rgb(80, 76, 43);

/* Fuentes*/

$fuenteTitulos:'Splash', cursive;
$fuenteTexto: 'Edu NSW ACT Foundation', cursive;
$tamanoTitulos: xx-large;

/*Index*/

$AltoPresentacion: 600px;
$ColoresBase: (
Index: rgba(255, 218, 185, 0.651)
);
